name: Test Docker Build
on: 
  push:
    branches-ignore:
      - master

env:
  IMAGE: ghcr.io/giganticminecraft/seichirankingbff

jobs:
  test-container-image:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            ${{ github.ref }}-${{ github.sha }}
            ${{ github.ref }}
            refs/head/main
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: create tag
        run: |
          SHA="${{ github.sha }}"
          TAG="${IMAGE}:$(TZ=UTC+9 date '+%Y%m')-${SHA:0:7}"
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            LATEST="${IMAGE}:latest"
            echo "TAGS=$TAG,$LATEST" >> "$GITHUB_ENV"
          else
            echo "TAGS=$TAG" >> "$GITHUB_ENV"
          fi
          echo TAG "$TAG"
      - name: Build test
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: ${{ env.TAGS }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
